{% extends 'layout.html' %}


{% block title %}
<title>Login </title>
{% endblock title %}
{% block content %}

<form class="login" method="POST" action="/login">
    <h2>Welcome, User!</h2>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
           <ul class="error-messages" style="text-align: center;">
               {% for  message in messages %}
                   <li style="color: red; list-style: none;">{{ message }}</li>
               {% endfor %}
           </ul>
       {% endif %}
   {% endwith %}
    <input type="email" name="email" placeholder="User Name" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Log In" />
    <div class="links">

      <a href="/register">Register</a>
    </div>
  </form>
{% endblock content %}